@font-face {
    font-family: "Bebas";
    font-style: normal;
    font-weight: 400;
    src:
      url("Bebas.woff") format("woff");
  }
body {
    background-color: #cccccc;
    color: #ff00ff;
    font-family: 'Bebas Neue';
}